 .bg-dark {
  background-color: #1b2e5b;
}

.footer-link {
  color: #cbd5e1;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
  transition: 0.3s;
}

.footer-link:hover {
  color: #6c7480;
  padding-left: 5px;
}

.social-icon {
  color: #cbd5e1;
  font-size: 18px;
  transition: 0.3s;
}

.social-icon:hover {
  color: #3b82f6;
}


.email-link {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.email-link:hover {
  color: #3b82f6;
  transform: translateX(5px);
}
